<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Dashboard
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Member" asp-action="Index" class="nav-link active">
                        <i class="fas fa-user nav-icon"></i>
                        <p>All Members List</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Member" asp-action="Create" class="nav-link active">
                        <i class="fas fa-edit nav-icon"></i>
                        <p>Add new Member</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Photo" asp-action="Index" class="nav-link active">
                        <i class="nav-icon fas fa-ticket-alt"></i>
                        <p>All Photos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Photo" asp-action="Add" class="nav-link active">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>New Photo</p>
                    </a>
                </li>
            </ul>
        </li>        
    </ul>
</nav>