
@{
    ViewData["Title"] = "Index";
}

    <h1>Index</h1>


<a asp-action="summary" asp-controller="Dashboard" style="color:red">Summary</a>


@section Styles2{
    <style>
        h1 {
            color: red;
            text-align: center;
            background-color: aqua;
        }
    </style>
}
